* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(skyblue), to(darkslateblue));
  background: linear-gradient(skyblue, darkslateblue);
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
}

.checker {
  position: absolute;
  top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 30rem;
  min-width: 11rem;
}

.checker .counter_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.checker .counter_container .counter_card {
  text-align: center;
  background: whitesmoke;
  width: 10rem;
  border-radius: 0.3rem;
}

.btns_container,
.config_btns_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btns_container {
  margin-top: 1rem;
}

.btns_container .btn {
  color: whitesmoke;
  border: solid 0.15rem whitesmoke;
}

.btns_container .btn:hover {
  border: solid 0.15rem darkslateblue;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: darkslateblue;
}

.btns_container .btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background: darkslateblue;
  color: whitesmoke;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.config_btns_container {
  margin-bottom: 0.5rem;
}

.config_btns_container .btn_config {
  color: white;
  background: darkslateblue;
  border: solid 0.15rem darkslateblue;
}

.config_btns_container #out_item_btn:hover,
.config_btns_container #reset_btn:hover,
.config_btns_container #new_item_btn:hover {
  color: darkslateblue;
  background: none;
}

.config_btns_container #out_item_btn:active,
.config_btns_container #reset_btn:active,
.config_btns_container #new_item_btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background: none;
  color: whitesmoke;
  border: solid 0.15rem whitesmoke;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.alert_container1 {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
}

.alert_container1 .alert_display {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  background: whitesmoke;
  border-radius: 0.2rem;
  width: 20rem;
  height: 12rem;
}

.alert_container1 .alert_display h2 {
  font-size: 3rem;
  color: darkslateblue;
}

.alert_container1 .alert_display .number_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
}

.alert_container1 .alert_display .number_holder input {
  width: 90%;
  height: 3rem;
  text-align: center;
}

.alert_container1 .alert_display .number_holder input::-webkit-input-placeholder {
  height: 3rem;
  opacity: 0.7;
}

.alert_container1 .alert_display .number_holder input:-ms-input-placeholder {
  height: 3rem;
  opacity: 0.7;
}

.alert_container1 .alert_display .number_holder input::-ms-input-placeholder {
  height: 3rem;
  opacity: 0.7;
}

.alert_container1 .alert_display .number_holder input::placeholder {
  height: 3rem;
  opacity: 0.7;
}

.alert_container1 .alert_display .btn_alert_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 2rem;
  color: whitesmoke;
}

.alert_container1 .alert_display .btn_alert_container .btn_alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 90%;
  margin-top: 0.5rem;
  color: darkslateblue;
  border-radius: 0.2rem;
  border: solid 0.15rem darkslateblue;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.alert_container1 .alert_display .btn_alert_container .btn_alert:hover {
  background: darkslateblue;
  color: whitesmoke;
}

.alert_container1 .alert_display .btn_alert_container .btn_alert:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.alert_container2 {
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
}

.alert_container2 .alert_display {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  background: whitesmoke;
  border-radius: 0.2rem;
  width: 20rem;
  height: 10rem;
}

.alert_container2 .alert_display h2 {
  font-size: 3rem;
  color: darkslateblue;
}

.alert_container2 .alert_display .text_display {
  padding: 0.5rem 1rem;
}

.alert_container2 .alert_display .btn_alert_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 2rem;
  color: whitesmoke;
}

.alert_container2 .alert_display .btn_alert_container .btn_alert_OK {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 90%;
  margin-top: 0.5rem;
  color: darkslateblue;
  border-radius: 0.2rem;
  border: solid 0.15rem darkslateblue;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.alert_container2 .alert_display .btn_alert_container .btn_alert_OK:hover {
  background: darkslateblue;
  color: whitesmoke;
}

.alert_container2 .alert_display .btn_alert_container .btn_alert_OK:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  font-weight: 600;
}

.btn_out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/*# sourceMappingURL=stylesheet.css.map */